# Modified from https://www.kaggle.com/code/jtrotman/winning-team-submission-traces/notebook

In [1]:
import gc, os, sys, time
import pandas as pd, numpy as np
from unidecode import unidecode
from pathlib import Path
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
from IPython.display import HTML, display

### Original Code

In [2]:
# CSV_DIR = Path('..', 'input', 'meta-kaggle')
CSV_DIR = Path('D:/Academics/Research/IORA/Game Designer/Data Files/', 'input', 'meta-kaggle')
if not CSV_DIR.is_dir():
    CSV_DIR = Path('D:/Academics/Research/IORA/Game Designer/Data Files/', 'input')

def read_csv_filtered(csv, col, values):
    dfs = [df.loc[df[col].isin(values)]
           for df in pd.read_csv(CSV_DIR / csv, chunksize=100000, low_memory=False)]
    return pd.concat(dfs, axis=0)

comps = pd.read_csv(CSV_DIR / 'Competitions.csv').set_index('Id')
comps = comps.query("HostSegmentTitle != 'InClass'")
idx = comps.EvaluationAlgorithmName.isnull()
comps.loc[idx, 'EvaluationAlgorithmName'] = comps.loc[idx, 'EvaluationAlgorithmAbbreviation']

comps['EvaluationLabel'] = comps.EvaluationAlgorithmAbbreviation
idx = comps.EvaluationLabel.str.len() > 30
comps.loc[idx, 'EvaluationLabel'] = comps.loc[idx, 'EvaluationLabel'].str.replace(r'[^A-Z\d\-]', '', regex=True)

comps['DeadlineDate'] = pd.to_datetime(comps.DeadlineDate)
comps['EnabledDate'] = pd.to_datetime(comps.EnabledDate)
comps['DeadlineDateText'] = comps.DeadlineDate.dt.strftime('%c')
comps['EnabledDateText'] = comps.EnabledDate.dt.strftime('%c')
comps['Year'] = comps.DeadlineDate.dt.year
comps['RewardQuantity'].fillna('', inplace=True)
comps['Days'] = (comps.DeadlineDate - comps.EnabledDate) / pd.Timedelta(1, 'd')
comps['FinalWeek'] = (comps.DeadlineDate - pd.Timedelta(1, 'w'))

teams = read_csv_filtered('Teams.csv', 'CompetitionId', comps.index).set_index('Id')
# Just the winning teams (Change to different settings)
# teams = teams.query('PrivateLeaderboardRank==1').copy()
teams = teams.query('PrivateLeaderboardRank<=20').copy()

tmemb = read_csv_filtered('TeamMemberships.csv', 'TeamId', teams.index).set_index('Id')
users = read_csv_filtered('Users.csv', 'Id', tmemb.UserId)
tmemb = tmemb.merge(users, left_on='UserId', right_on='Id')

# Submissions
subs = read_csv_filtered('Submissions.csv', 'TeamId', tmemb.TeamId)
subs = subs.rename(columns={'PublicScoreFullPrecision': 'Public'})
subs = subs.rename(columns={'PrivateScoreFullPrecision': 'Private'})
subs['SubmissionDate'] = pd.to_datetime(subs.SubmissionDate)

asfloats = ['PublicScoreLeaderboardDisplay',
            'Public',
            'PrivateScoreLeaderboardDisplay',
            'Private',]

subs[asfloats] = subs[asfloats].astype(float)
# subs.IsAfterDeadline.mean()

subs = subs.query('not IsAfterDeadline').copy()
subs['CompetitionId'] = subs.TeamId.map(teams.CompetitionId)
subs['CompetitionSlug'] = subs.CompetitionId.map(comps.Slug)
subs['TeamName'] = subs.TeamId.map(teams.TeamName)

# subs['CompetitionId'].nunique()

# values some competitions use as invalid scores
for bad in [99, 999999]:
    for c in asfloats:
        idx = (subs[c] == bad)
        subs.loc[idx, c] = subs.loc[idx, c].replace({bad: np.nan})

# Display order: most recent competitions first
subs = subs.sort_values(['CompetitionId', 'Id'], ascending=[False, True])

### Modified Code
First specify the list of competitions by their slugs -- comp_list. The returned **subs** contain all submission info for the specified competitions

In [2]:
# Change the list of competitions of our choice
comp_list = ['vinbigdata-chest-xray-abnormalities-detection', # Medical Image
             'talkingdata-adtracking-fraud-detection', # NLP Text Fraud
             'landmark-recognition-2021', # Big Tech CV
             'chaii-hindi-and-tamil-question-answering', # NLP Q&A,
             'nfl-health-and-safety-helmet-assignment'] # Sports CV

In [3]:
# CSV_DIR = Path('..', 'input', 'meta-kaggle')
CSV_DIR = Path('D:/Academics/Research/IORA/Game Designer/Data Files/', 'input', 'meta-kaggle')
if not CSV_DIR.is_dir():
    CSV_DIR = Path('D:/Academics/Research/IORA/Game Designer/Data Files/', 'input')

def read_csv_filtered(csv, col, values):
    dfs = [df.loc[df[col].isin(values)]
           for df in pd.read_csv(CSV_DIR / csv, chunksize=100000, low_memory=False)]
    return pd.concat(dfs, axis=0)

comps = pd.read_csv(CSV_DIR / 'Competitions.csv').set_index('Id')
comps = comps.query("HostSegmentTitle != 'InClass'")
idx = comps.EvaluationAlgorithmName.isnull()
comps.loc[idx, 'EvaluationAlgorithmName'] = comps.loc[idx, 'EvaluationAlgorithmAbbreviation']

comps['EvaluationLabel'] = comps.EvaluationAlgorithmAbbreviation
idx = comps.EvaluationLabel.str.len() > 30
comps.loc[idx, 'EvaluationLabel'] = comps.loc[idx, 'EvaluationLabel'].str.replace(r'[^A-Z\d\-]', '', regex=True)

comps['DeadlineDate'] = pd.to_datetime(comps.DeadlineDate)
comps['EnabledDate'] = pd.to_datetime(comps.EnabledDate)
comps['DeadlineDateText'] = comps.DeadlineDate.dt.strftime('%c')
comps['EnabledDateText'] = comps.EnabledDate.dt.strftime('%c')
comps['Year'] = comps.DeadlineDate.dt.year
comps['RewardQuantity'].fillna('', inplace=True)
comps['Days'] = (comps.DeadlineDate - comps.EnabledDate) / pd.Timedelta(1, 'd')
comps['FinalWeek'] = (comps.DeadlineDate - pd.Timedelta(1, 'w'))
comp_id = comps[comps['Slug'].isin(comp_list)].index # Competition ID of our choice

teams = read_csv_filtered('Teams.csv', 'CompetitionId', comp_id).set_index('Id') # Teams that participate in these competitions
tmemb = read_csv_filtered('TeamMemberships.csv', 'TeamId', teams.index).set_index('Id')
users = read_csv_filtered('Users.csv', 'Id', tmemb.UserId)
tmemb = tmemb.merge(users, left_on='UserId', right_on='Id') # Some further cleaning of teams

# Submissions
subs = read_csv_filtered('Submissions.csv', 'TeamId', tmemb.TeamId) # Submission of these teams
subs = subs.rename(columns={'PublicScoreFullPrecision': 'Public'})
subs = subs.rename(columns={'PrivateScoreFullPrecision': 'Private'})
subs['SubmissionDate'] = pd.to_datetime(subs.SubmissionDate)

asfloats = ['PublicScoreLeaderboardDisplay',
            'Public',
            'PrivateScoreLeaderboardDisplay',
            'Private',]

subs[asfloats] = subs[asfloats].astype(float)

subs = subs.query('not IsAfterDeadline').copy()
subs['CompetitionId'] = subs.TeamId.map(teams.CompetitionId)
subs['CompetitionSlug'] = subs.CompetitionId.map(comps.Slug)
subs['TeamName'] = subs.TeamId.map(teams.TeamName)

# values some competitions use as invalid scores
for bad in [99, 999999]:
    for c in asfloats:
        idx = (subs[c] == bad)
        subs.loc[idx, c] = subs.loc[idx, c].replace({bad: np.nan})

# Display order: most recent competitions first
subs = subs.sort_values(['CompetitionId', 'Id'], ascending=[False, True])

In [4]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61225 entries, 1370425 to 8604927
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CompetitionId                   61225 non-null  int64
 1   TeamLeaderId                    61216 non-null  float64
 2   TeamName                        61222 non-null  object
 3   ScoreFirstSubmittedDate         0 non-null      float64
 4   LastSubmissionDate              7410 non-null   object
 5   PublicLeaderboardSubmissionId   7372 non-null   float64
 6   PrivateLeaderboardSubmissionId  7372 non-null   float64
 7   IsBenchmark                     61225 non-null  bool
 8   Medal                           841 non-null    float64
 9   MedalAwardDate                  844 non-null    object
 10  PublicLeaderboardRank           7369 non-null   float64
 11  PrivateLeaderboardRank          7369 non-null   float64
dtypes: bool(1), float64(7), int64(1), object(3)
memory usage: 7.7+ MB

In [5]:
subs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136838 entries, 9522623 to 3998737
Data columns (total 14 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Id                              136838 non-null  int64
 1   SubmittedUserId                 136838 non-null  float64
 2   TeamId                          136838 non-null  int64
 3   SourceKernelVersionId           62249 non-null   float64
 4   SubmissionDate                  136838 non-null  datetime64[ns]
 5   ScoreDate                       136588 non-null  object
 6   IsAfterDeadline                 136838 non-null  bool
 7   PublicScoreLeaderboardDisplay   129951 non-null  float64
 8   Public                          129951 non-null  float64
 9   PrivateScoreLeaderboardDisplay  129951 non-null  float64
 10  Private                         129951 non-null  float64
 11  CompetitionId                   136838 non-null  int64
 12  CompetitionSlug                 136838 non-null  object
 13  TeamName                        136741 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(6), int64(3), object(3)
memory usage: 14.7+ MB

### This chunk is to save data (globally) that 
1. summarize relevant information of respective competitions (**XXX_summary**), and 
2. filter the teams that satisfy our criteria (**XXX_filtered**)

In [28]:
useful_cols = ['SubmissionDate',
               'Public',
               'Private',
               'TeamId',
               'TeamName']

for c in comp_list:
    cname = c.split('-')[0]
    df = globals()[cname] = subs.query(f"CompetitionSlug=='{c}'") # Raw DataFrame for the Competition
    
    key_col = 'TeamId'
    last_day = df['SubmissionDate'].max()

    names = df[['TeamId', 'TeamName']].drop_duplicates().set_index('TeamId')
    # score = df[df['SubmissionDate'] == last_day].groupby(key_col)['Private'].max().sort_values(ascending=False)
    score = df.groupby(key_col)['Private'].max().sort_values(ascending=False)

    submission = df.groupby(key_col)['SubmissionDate'].count().sort_values(ascending=False)
    submission.name = 'Submissions'

    first_day = df.groupby(key_col)['SubmissionDate'].min()
    first_day.name = 'FirstDay'

    last_day = df.groupby(key_col)['SubmissionDate'].max()
    last_day.name = 'LastDay'

    duration = last_day - first_day
    duration.name = 'Duration'

    summary = pd.concat([names, score, duration, first_day, last_day, submission],axis=1).sort_values(['Private', 'Duration', 'Submissions'], ascending=False)
    summary = summary.dropna(axis=0)
    
    summary_name = cname + '_summary'
    globals()[summary_name] = summary # Summary of Rankings for the Competition
    # print(f'{summary_name} is saved')
    
    filtered_team = summary.index[:2] # Need Modification for our criteria
    filtered_data = df[df['TeamId'].isin(filtered_team)][useful_cols]
    start = filtered_data.groupby('TeamId')['SubmissionDate'].min().max()
    # filtered_data = filtered_data[filtered_data['SubmissionDate'] >= later_enter_date]
    
    filtered_name = cname + '_filtered'
    globals()[filtered_name] = filtered_data
    # print(f'{filtered_name} is saved')

    filtered_data['t'] = (filtered_data.SubmissionDate - start).dt.days // 7 + 1
    # print(filtered_data)
    n_x = filtered_data.groupby(by=['TeamId', 't']).agg(n =pd.NamedAgg('SubmissionDate', aggfunc='count'),
                                       x = pd.NamedAgg('Private', aggfunc='max'),
                                       public = pd.NamedAgg('Public', aggfunc='max'))
    df_i = n_x.loc[filtered_team[0]]
    df_j = n_x.loc[filtered_team[1]]
    df_full = df_i.merge(df_j,left_index=True,right_index=True,how='outer', suffixes=('_i','_j'))
    df_full[['n_i', 'n_j']] = df_full[['n_i', 'n_j']].fillna(0)
    df_full[['x_i', 'x_j', 'public_i', 'public_j']] = df_full[['x_i', 'x_j', 'public_i', 'public_j']].fillna(method='ffill')
    df_full['y_i'] = df_full['x_i'] - df_full['x_j']
    df_full['Z'] = (df_full['public_i'] - df_full['public_j']).cumsum()
    cleaned_data = df_full[df_full.index > 0]

    cleaned_name = cname + '_cleaned'
    globals()[cleaned_name] = cleaned_data
    cleaned_data.to_csv(cleaned_name + '.csv', index=False)
    print(f'{cleaned_name} is saved')

vinbigdata_cleaned is saved
talkingdata_cleaned is saved
landmark_cleaned is saved
chaii_cleaned is saved
nfl_cleaned is saved

### Summary Saved

In [10]:
nfl_summary.head()

,TeamName,Private,Duration,FirstDay,LastDay,Submissions
TeamId,,,,,,
7279260,K_mat,0.956714,69 days,2021-08-25,2021-11-02,49
7243287,tito,0.915345,80 days,2021-08-14,2021-11-02,50
7300455,KL,0.911836,59 days,2021-09-04,2021-11-02,76
7245967,fantastic_hirarin,0.904170,65 days,2021-08-29,2021-11-02,26
7244891,NFL 2nd half,0.897408,74 days,2021-08-20,2021-11-02,98

In [11]:
chaii_summary.head()

,TeamName,Private,Duration,FirstDay,LastDay,Submissions
TeamId,,,,,,
7251121,Hold my chai ☕️,0.796707,96 days,2021-08-11,2021-11-15,198
7252769,tkm kh,0.785359,95 days,2021-08-12,2021-11-15,259
7253814,"Zacchaeus, zzy",0.784720,95 days,2021-08-12,2021-11-15,302
7445833,Minixhofer,0.779510,12 days,2021-10-30,2021-11-11,13
7250918,Abhishek + Udbhav,0.779193,96 days,2021-08-11,2021-11-15,253

In [12]:
vinbigdata_summary.head()

,TeamName,Private,Duration,FirstDay,LastDay,Submissions
TeamId,,,,,,
6118346,ℳS²Ƒ,0.321067,86 days,2021-01-03,2021-03-30,366
6087561,SZI,0.319178,85 days,2021-01-04,2021-03-30,381
6090014,scumed,0.308123,81 days,2021-01-08,2021-03-30,448
6087654,Kiet Chu,0.304307,78 days,2021-01-11,2021-03-30,140
6129731,fantastic_hirarin,0.303910,71 days,2021-01-18,2021-03-30,68

In [13]:
landmark_summary.head()

,TeamName,Private,Duration,FirstDay,LastDay,Submissions
TeamId,,,,,,
7252683,Dieter,0.512726,45 days,2021-08-17,2021-10-01,83
7252015,bestfitting,0.494300,45 days,2021-08-17,2021-10-01,122
7256588,ByteDance Vision Tech.,0.489626,37 days,2021-08-25,2021-10-01,212
7282910,NotEnoughFitting,0.483593,38 days,2021-08-24,2021-10-01,135
7312380,All Data Are Ext,0.483143,42 days,2021-08-20,2021-10-01,117

In [14]:
talkingdata_summary.head()

,TeamName,Private,Duration,FirstDay,LastDay,Submissions
TeamId,,,,,,
1479247,"['flowlight', 'komaki'].shuffle()",0.984332,46 days,2018-03-22,2018-05-07,106
1462555,PPP is already in use,0.984126,57 days,2018-03-11,2018-05-07,146
1449364,bestfitting,0.984084,37 days,2018-03-31,2018-05-07,173
1512459,K.A.C.,0.984037,60 days,2018-03-08,2018-05-07,219
1485607,MMDP,0.984019,60 days,2018-03-08,2018-05-07,156

### Cleaned Data

In [29]:
nfl_cleaned

     n_i       x_i  public_i   n_j       x_j  public_j       y_i         Z
t
1    5.0  0.668100  0.743317   0.0  0.629647  0.710539  0.038453  0.032778
2    2.0  0.840817  0.847551   0.0  0.629647  0.710539  0.211170  0.169789
3    4.0  0.904971  0.879856   0.0  0.629647  0.710539  0.275324  0.339106
4    6.0  0.894157  0.888637   0.0  0.629647  0.710539  0.264510  0.517205
6    1.0  0.886581  0.923123   0.0  0.629647  0.710539  0.256934  0.729788
7    0.0  0.886581  0.923123  10.0  0.876757  0.860337  0.009823  0.792574
8    8.0  0.930886  0.932258   0.0  0.876757  0.860337  0.054129  0.864495
9    5.0  0.938919  0.929044   5.0  0.905786  0.924171  0.033133  0.869368
10  18.0  0.956714  0.939928  20.0  0.915345  0.935250  0.041369  0.874046

In [30]:
chaii_cleaned

     n_i       x_i  public_i   n_j       x_j  public_j       y_i         Z
t
1    4.0  0.706188  0.735128  37.0  0.744709  0.775963 -0.038522 -0.040836
2    0.0  0.706188  0.735128  25.0  0.752344  0.778851 -0.046156 -0.084559
3    0.0  0.706188  0.735128  29.0  0.750668  0.786423 -0.044480 -0.135854
4    0.0  0.706188  0.735128  17.0  0.751640  0.787606 -0.045452 -0.188332
5    0.0  0.706188  0.735128  26.0  0.775477  0.816295 -0.069289 -0.269499
6    0.0  0.706188  0.735128  25.0  0.775910  0.821692 -0.069723 -0.356063
7    0.0  0.706188  0.735128  13.0  0.772680  0.820828 -0.066492 -0.441764
8    6.0  0.702023  0.728130  15.0  0.775624  0.827030 -0.073601 -0.540664
9   24.0  0.729355  0.761345   3.0  0.776146  0.821473 -0.046791 -0.600792
10  35.0  0.751581  0.792855  16.0  0.782534  0.829848 -0.030952 -0.637785
11  35.0  0.783219  0.806568  18.0  0.784260  0.831367 -0.001041 -0.662584
12  33.0  0.790846  0.820657   8.0  0.780967  0.831206  0.009879 -0.673133
13  35.0  0.773116  0.801827   7.0  0.779345  0.831367 -0.006229 -0.702674
14  25.0  0.796707  0.830333  20.0  0.785359  0.831367  0.011347 -0.703708

In [31]:
vinbigdata_cleaned

    n_i       x_i  public_i   n_j       x_j  public_j       y_i         Z
t
1     6  0.204618  0.201679  10.0  0.186076  0.172138  0.018542  0.029541
2    16  0.225342  0.224076  17.0  0.206282  0.168440  0.019060  0.085176
3    40  0.279067  0.317397  35.0  0.286489  0.284101 -0.007422  0.118472
4    29  0.284961  0.318368  51.0  0.289421  0.282399 -0.004460  0.154441
5    12  0.283407  0.318368  28.0  0.289577  0.300183 -0.006170  0.172626
6    22  0.283559  0.296698  32.0  0.296527  0.301066 -0.012968  0.168259
7     8  0.287875  0.308401  32.0  0.301086  0.309335 -0.013210  0.167325
8    33  0.277150  0.324735  31.0  0.304616  0.335853 -0.027466  0.156207
9    50  0.305793  0.327507  35.0  0.310151  0.341758 -0.004358  0.141956
10   62  0.312425  0.320630  30.0  0.310412  0.342794  0.002013  0.119792
11   39  0.321067  0.352848  35.0  0.309370  0.353284  0.011697  0.119356
12   35  0.315042  0.354571  35.0  0.319178  0.355341 -0.004135  0.118586
13   10  0.315771  0.354421  10.0  0.311226  0.365830  0.004544  0.107177

In [32]:
talkingdata_cleaned

    n_i       x_i  public_i  n_j       x_j  public_j       y_i         Z
t
1  10.0  0.977614  0.976513   15  0.981301  0.980518 -0.003687 -0.004005
2   3.0  0.969291  0.968447   17  0.982003  0.981387 -0.012712 -0.016945
3  13.0  0.980837  0.978835   12  0.982868  0.982059 -0.002031 -0.020170
4  20.0  0.983099  0.982106   24  0.983746  0.982751 -0.000646 -0.020815
5  20.0  0.983544  0.982481   16  0.983758  0.982788 -0.000214 -0.021122
6  18.0  0.984053  0.983228   19  0.983677  0.983011  0.000375 -0.020906
7  22.0  0.984332  0.983451   20  0.984126  0.983345  0.000206 -0.020800

In [33]:
landmark_cleaned

   n_i       x_i  public_i  n_j       x_j  public_j       y_i         Z
t
1    4  0.281322  0.278452   12  0.395626  0.400666 -0.114304 -0.122214
2    3  0.210092  0.200356    7  0.404485  0.424232 -0.194392 -0.346090
3    9  0.260463  0.243722    3  0.414758  0.439932 -0.154295 -0.542299
4   17  0.449763  0.453174   20  0.427356  0.451745  0.022407 -0.540870
5    3  0.452996  0.463165   27  0.440531  0.463129  0.012466 -0.540834
6   27  0.476806  0.495764   33  0.435723  0.440375  0.041083 -0.485445
7   20  0.512726  0.533616   20  0.494300  0.517133  0.018425 -0.468963

## Dev Testing

### Data Manipulation Testing for Paper Requirements

In [11]:
vinbigdata_filtered

        SubmissionDate    Public   Private   TeamId TeamName
8142428     2021-01-04  0.164498  0.159467  6087561      SZI
8142429     2021-01-06  0.124063  0.146764  6087561      SZI
8142430     2021-01-06  0.117363  0.133969  6087561      SZI
8328435     2021-01-07  0.172138  0.167738  6087561      SZI
8328436     2021-01-07  0.160037  0.164868  6087561      SZI
...                ...       ...       ...      ...      ...
8719802     2021-03-30  0.316657  0.291157  6090014   scumed
8684315     2021-03-30  0.296349  0.305256  6087561      SZI
8684313     2021-03-30  0.287484  0.299893  6087561      SZI
8684314     2021-03-30  0.296358  0.304209  6087561      SZI
8684321     2021-03-30  0.292188  0.311226  6087561      SZI

[829 rows x 5 columns]

In [12]:
# Old Version

# vinbigdata_filtered['t'] = vinbigdata_filtered.SubmissionDate.dt.week
# week0 = vinbigdata_filtered['t'].min() - 1
# vinbigdata_filtered['t'] = vinbigdata_filtered['t'] - week0
# print(vinbigdata_filtered.t.max())
# print(vinbigdata_filtered.t.min())

13
1

C:\Users\z9906\AppData\Local\Temp\ipykernel_5240\966162957.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  vinbigdata_filtered['t'] = vinbigdata_filtered.SubmissionDate.dt.week

In [71]:
start = vinbigdata_filtered.SubmissionDate.min()
vinbigdata_filtered['t'] = (vinbigdata_filtered.SubmissionDate - start).dt.days // 7 + 1
print(vinbigdata_filtered.t.max())
print(vinbigdata_filtered.t.min())

12
1

In [115]:
start = nfl_filtered.groupby('TeamId')['SubmissionDate'].min().max()
nfl_filtered['t'] = (nfl_filtered.SubmissionDate - start).dt.days // 7 + 1
print(nfl_filtered.t.max())
print(nfl_filtered.t.min())

10
-1

In [116]:
nfl_filtered

        SubmissionDate    Public   Private   TeamId TeamName   t
9561098     2021-08-14  0.302906  0.266706  7243287     tito  -1
9561102     2021-08-14  0.351788  0.265026  7243287     tito  -1
9561099     2021-08-14  0.302955  0.263226  7243287     tito  -1
9561100     2021-08-14  0.347214  0.263172  7243287     tito  -1
9561101     2021-08-14  0.353413  0.269113  7243287     tito  -1
...                ...       ...       ...      ...      ...  ..
9701207     2021-11-02  0.939928  0.947134  7279260    K_mat  10
9695486     2021-11-02  0.935111  0.900798  7243287     tito  10
9695487     2021-11-02  0.933577  0.902260  7243287     tito  10
9695488     2021-11-02  0.927135  0.900704  7243287     tito  10
9695489     2021-11-02  0.934569  0.910460  7243287     tito  10

[99 rows x 6 columns]

In [117]:
q_x = nfl_filtered.groupby(by=['TeamId', 't']).agg(q =pd.NamedAgg('SubmissionDate', aggfunc='count'),
                                       x = pd.NamedAgg('Private', aggfunc='max'),
                                       public = pd.NamedAgg('Public', aggfunc='max'))
# q_x.reset_index().sort_values(['TeamId', 't'])
# q_x.reset_index().sort_values(['TeamId','t'])

In [145]:
q_x

              q         x    public
TeamId  t
7243287 -1    5  0.269113  0.353413
         0   10  0.629647  0.710539
         7   10  0.876757  0.860337
         9    5  0.905786  0.924171
         10  20  0.915345  0.935250
7279260  1    5  0.668100  0.743317
         2    2  0.840817  0.847551
         3    4  0.904971  0.879856
         4    6  0.894157  0.888637
         6    1  0.886581  0.923123
         8    8  0.930886  0.932258
         9    5  0.938919  0.929044
         10  18  0.956714  0.939928

In [131]:
id_list = np.unique([x[0] for x in q_x.index])
df_i = q_x.loc[id_list[0]]
df_j = q_x.loc[id_list[1]]
df_full = df_i.merge(df_j,left_index=True,right_index=True,how='outer', suffixes=('_i','_j'))
df_full[['q_i', 'q_j']] = df_full[['q_i', 'q_j']].fillna(0)
df_full[['x_i', 'x_j', 'public_i', 'public_j']] = df_full[['x_i', 'x_j', 'public_i', 'public_j']].fillna(method='ffill')
df_full[df_full.index > 0]

     q_i       x_i  public_i   q_j       x_j  public_j
t
1    0.0  0.629647  0.710539   5.0  0.668100  0.743317
2    0.0  0.629647  0.710539   2.0  0.840817  0.847551
3    0.0  0.629647  0.710539   4.0  0.904971  0.879856
4    0.0  0.629647  0.710539   6.0  0.894157  0.888637
6    0.0  0.629647  0.710539   1.0  0.886581  0.923123
7   10.0  0.876757  0.860337   0.0  0.886581  0.923123
8    0.0  0.876757  0.860337   8.0  0.930886  0.932258
9    5.0  0.905786  0.924171   5.0  0.938919  0.929044
10  20.0  0.915345  0.935250  18.0  0.956714  0.939928

In [27]:
vinbigdata_cleaned['Z'].cumsum()

t
1     0.029541
2     0.085176
3     0.118472
4     0.154441
5     0.172626
6     0.168259
7     0.167325
8     0.156207
9     0.141956
10    0.119792
11    0.119356
12    0.118586
13    0.107177
Name: Z, dtype: float64

In [138]:
# Old Version

# id_list = np.unique([x[0] for x in q_x.index])

# q_i = q_x.loc[id_list[0]]['q']
# q_j = q_x.loc[id_list[1]]['q']

# x_i = q_x.loc[id_list[0]]['x']
# x_j = q_x.loc[id_list[1]]['x']

# y_i = x_i - x_j
# y_j = x_j - x_i

# Z = q_x.loc[id_list[0]]['public'] - q_x.loc[id_list[1]]['public']
# t = np.arange(q_i.size) + 1
# # t = t.astype('int64')
# cols = ['q_i', 'q_j', 'x_i', 'x_j', 'y_i', 'y_j', 'Z']

# cleaned_data = pd.DataFrame(data=np.array([q_i, q_j, x_i, x_j, y_i, y_j, Z]).T, columns=cols)
# cleaned_data['t'] = t
# cleaned_data

In [15]:
cleaned_data.to_csv('vinbigdata_cleaned.csv', index=False)

#### Diff data (can be done in R as well, try to keep raw data at this stage)

In [84]:
nabla_cols = cols[2:]
nabla_names = ['diff_' + x for x in nabla_cols]

In [85]:
nabla_df = cleaned_data[nabla_cols].diff().dropna()
nabla_df.columns = nabla_names
nabla_df

    diff_x_i  diff_x_j  diff_y_i  diff_y_j    diff_Z
1   0.020206  0.124464 -0.104258  0.104258 -0.140220
2   0.080207  0.007786  0.072420 -0.072420  0.093993
3   0.002932  0.038886 -0.035954  0.035954 -0.016218
4   0.000156  0.004600 -0.004444  0.004444  0.009590
5   0.006950 -0.007277  0.014228 -0.014228  0.002122
6   0.004559 -0.011765  0.016324 -0.016324  0.005637
7   0.003530  0.010605 -0.007075  0.007075  0.057289
8   0.005535  0.034898 -0.029363  0.029363 -0.064606
9   0.000261 -0.000608  0.000869 -0.000869 -0.018112
10 -0.001042  0.006851 -0.007893  0.007893  0.003894
11  0.009808  0.002584  0.007224 -0.007224 -0.000992
12 -0.007952 -0.002855 -0.005096  0.005096  0.011738

### For Loop Dev Testing

In [91]:
key_col = 'TeamId'
last_day = ranzcr['SubmissionDate'].max()

ranzcr_names = ranzcr[['TeamId', 'TeamName']].drop_duplicates().set_index('TeamId')
ranzcr_score = ranzcr[ranzcr['SubmissionDate'] == last_day].groupby(key_col)['Private'].max().sort_values(ascending=False)

In [157]:
ranzcr_pub_var = ranzcr.groupby(key_col)['Public'].var()
ranzcr_pub_var.name = 'PublicVar'

In [92]:
ranzcr_submission = ranzcr.groupby(key_col)['SubmissionDate'].count().sort_values(ascending=False)
ranzcr_submission.name = 'Submissions'

In [93]:
ranzcr_first_day = ranzcr.groupby(key_col)['SubmissionDate'].min()
ranzcr_first_day.name = 'FirstDay'

ranzcr_last_day = ranzcr.groupby(key_col)['SubmissionDate'].max()
ranzcr_last_day.name = 'LastDay'

ranzcr_duration = ranzcr_last_day - ranzcr_first_day
ranzcr_duration.name = 'Duration'

In [158]:
ranzcr_summary = pd.concat([ranzcr_names, ranzcr_score, ranzcr_pub_var, ranzcr_duration, ranzcr_first_day, ranzcr_last_day, ranzcr_submission],axis=1).sort_values(['Private', 'Duration', 'Submissions'], ascending=False)
# ranzcr_summary

In [159]:
ranzcr_summary

,TeamName,Private,PublicVar,Duration,FirstDay,LastDay,Submissions
TeamId,,,,,,,
6013849,All Data Are Ext,0.976732,0.000584,48 days,2021-01-27,2021-03-16,22
6012213,リーマン面を這う,0.976420,0.002772,90 days,2020-12-16,2021-03-16,171
6013117,Preferred CLiP,0.976248,0.000056,90 days,2020-12-16,2021-03-16,119
6125018,Watercooled,0.975640,0.009351,59 days,2021-01-16,2021-03-16,116
6012303,Guanshuo Xu,0.975635,0.001052,48 days,2021-01-27,2021-03-16,28
6052677,DatNT,0.975137,0.000011,76 days,2020-12-30,2021-03-16,125
6012271,RaddbotnaKama 200d,0.975069,0.000176,91 days,2020-12-15,2021-03-16,200
6015339,bestfitting,0.974953,0.000335,47 days,2021-01-28,2021-03-16,139
6233219,toxu,0.974553,0.002803,20 days,2021-02-24,2021-03-16,110
6043189,Point97 L.P.,0.974539,0.000027,73 days,2021-01-02,2021-03-16,96
6136650,YoonSoo,0.974017,0.000017,60 days,2021-01-15,2021-03-16,62
6046411,谋事在人，成事在天,0.973660,0.003293,91 days,2020-12-15,2021-03-16,392
6263555,dott,0.973554,0.000022,19 days,2021-02-25,2021-03-16,32
6329903,Cinthia & Eduardo,0.973544,0.000023,53 days,2021-01-22,2021-03-16,112
6102838,HotWater,0.973480,0.000046,72 days,2021-01-03,2021-03-16,131
6267530,Kun Hao Yeh,0.973428,0.000022,6 days,2021-03-10,2021-03-16,16
6102149,Miyatti,0.973323,0.021492,60 days,2021-01-15,2021-03-16,126
6050179,Firat Gonen,0.973309,0.006587,85 days,2020-12-21,2021-03-16,152
6203044,Sugawarya,0.973249,0.005751,14 days,2021-03-02,2021-03-16,40
6013433,DungNB,0.500000,0.002177,90 days,2020-12-16,2021-03-16,327

### Filtered Index Testing

In [7]:
ranzcr_filtered_team = ranzcr_summary.index[:2]
useful_cols = ['SubmissionDate',
               'Public',
               'Private',
               'TeamId',
               'TeamName']

In [8]:
ranzcr_filtered_data = ranzcr[ranzcr['TeamId'].isin(ranzcr_filtered_team)][useful_cols]

In [18]:
ranzcr_filtered_data.groupby('TeamId')['SubmissionDate'].min()

TeamId
6012213   2020-12-16
6013849   2021-01-27
Name: SubmissionDate, dtype: datetime64[ns]

In [21]:
max_date = ranzcr_filtered_data.groupby('TeamId')['SubmissionDate'].min().max()
max_date

Timestamp('2021-01-27 00:00:00')

In [25]:
ranzcr_filtered_data = ranzcr_filtered_data[ranzcr_filtered_data['SubmissionDate'] >= max_date]

In [27]:
ranzcr_filtered_data.SubmissionDate.min()

Timestamp('2021-01-27 00:00:00')

In [32]:
start = ranzcr_filtered_data.SubmissionDate.min()
t = (ranzcr_filtered_data.SubmissionDate - start ).dt.days // 7 + 1
t

8451022    1
8451023    1
8451024    1
8451025    3
8445528    3
          ..
8859466    7
8859467    7
8859457    7
8859458    7
8859459    7
Name: SubmissionDate, Length: 140, dtype: int64